body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #8fd3f4, #84fab0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 40px;
    width: 450px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

h1 {
    color: #3b3bff;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    text-decoration: none;
    background: #4f46e5;
    color: white;
    padding: 12px 25px;
    border-radius: 10px;
    font-size: 18px;
    display: inline-block;
    transition: 0.3s;
}

.btn:hover {
    background: #312e81;
}
